@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    @apply w-1 bg-white md:block hidden ;
}

::-webkit-scrollbar-thumb{
    @apply  h-1 cursor-grab bg-darkLight dark:bg-blueColor rounded-lg;
}



.message__user::after{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    right: -1%;
    transform: rotate(145deg);
}

.message::after {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-25deg);
    top: -15px;
    z-index: 1;
    left: -1%;
}

.dropdown div{
    @apply  absolute bg-light shadow-md p-5 rounded-md z-10 left-[45%] flex-col gap-1 hidden  ;
}

.dropdown div li{
    @apply list-none py-2 cursor-pointer hover:bg-gray-200 px-4  ;
}

.dropdown:hover div{
    @apply flex;
}

.webcam video{
    @apply w-[100%] h-[75%]  ;
}